body{
    /* background-color: rgb(10, 29, 241); */
    background-image: url('blue\ wallpaper.jpeg');
    color:aliceblue;
    overflow:scroll;
}
.aboutMe{
    background-color: rgb(125, 226, 244);
    color : rgb(24, 23, 23);
    padding : .5% .5% .5% .5%;
    font-size: 18px;
    font-weight: bold;
    outline: 1px solid rgb(33, 150, 246);
    margin-left: 10%;
    border-radius: 12px;
}

.aboutMe:hover{
    color:rgb(52, 51, 51);
    padding : .5% .5% .5% .5%;
    text-align: bold;
    outline :  1px solid rgb(4, 233, 253);
    box-shadow: 0 0 20px rgb(252, 254, 254);
}
h1{
    color:rgb(255, 238, 0);
}
.content{
    margin-top: 15%;
    margin-left: 5%;
}
.first{
    display:flex;
    gap:20%;
}
p{
    overflow: auto;
    width: 500px;
    height: 100px;
}
.icon{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size :20px;
    color:rgb(31, 228, 246);
    text-decoration: none;
    margin : 30px 25px 30px 0px;
}
.icon:hover{
    background: transparent;
    border : 2px solid rgb(194, 250, 249);
    box-shadow: 0 0 20px rgb(225, 230, 235);
}
span{
    color : rgb(32, 216, 236);
}
.upload{
    background-color: rgb(125, 226, 244);
    color : rgb(24, 23, 23);
    padding : 1% 1% 1% 1%;
    font-size: 18px;
    font-weight: bold;
    outline: 1px solid rgb(33, 150, 246);
    margin-left: 25%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.upload:hover{
    color:rgb(52, 51, 51);
    padding : .5% .5% .5% .5%;
    text-align: bold;
    outline :  1px solid rgb(4, 233, 253);
    box-shadow: 0 0 20px rgb(252, 254, 254);
}
/* PhotoComponent.css */
.PhotoAdd {
    width: 500px;
    height: 400px;
    /* Add any additional styles as needed */
  }
  
  .PhotoAdd img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio while covering the container */
    border-radius: 8px; /* Add rounded corners if desired */
  }
  